html{

  background-image: url("Layer 1.png");
  display: flex;
  position: relative;
  justify-content: flex-start;
  left: 0px;
  width: 100;
  height: 100;
  top: 0px;
  background-repeat: no-repeat;
  z-index: 2;
}

.about {
  width: 90vw;
  font-size: 36px;
  font-family: "Georgia";
  color: rgb(134, 218, 253);
  line-height: 1.2;
  text-align: center;
  position: relative;
  left: 33.28px;
  top: 15.9px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
 
}
.abot:hover {

  transform: scale(1.035);
  transition-duration: 0.5s;
}
.resume:hover {

  transform: scale(1.035);
  transition-duration: 0.5s;
  
}

.cont:hover {

  transform: scale(1.035);
  transition-duration: 0.5s;
}


.Rectangle_2 {
  border-width: 0px;
  border-color: rgb(243, 235, 237);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -7px;
  top: 268px;
  width: 32px;
  height: 51px;
  z-index: 7;
}

.Layer_8 {
  background-image: url("Layer 8.png");
  position: absolute;
  left: 753px;
  top: 132px;
  width: 467px;
  height: 531px;
  z-index: 9;
}

a:link{
  text-decoration: none;
}
.Rectangle_3 {
  border-width: 0px;
  border-color: rgb(243, 235, 237);
  border-style: solid;
  background-color: rgb(134, 218, 253);
  position: absolute;
  left: 1207px;
  top: 489px;
  width: 56px;
  padding: 0%;
  height: 51px;
  z-index: 6;
}


.summary {
  font-size: 16.5px;
  font-family: "Consolas";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  -moz-transform: matrix(1.0524478887648, 0, 0, 1.0524478887648, 0, 0);
  -webkit-transform: matrix(1.0524478887648, 0, 0, 1.0524478887648, 0, 0);
  -ms-transform: matrix(1.0524478887648, 0, 0, 1.0524478887648, 0, 0);
  position: absolute;
  left: -135px;
  right: 80;
  top: 440px;
  width: 900;
  z-index: 10;
}

.summary {
  
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 900% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }



.CHINMAI_S_NATH {
  font-size: 18.5px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 4.83957174885342,0,0,4.83957174885342,0,0);
  -webkit-transform: matrix( 4.83957174885342,0,0,4.83957174885342,0,0);
  -ms-transform: matrix( 4.83957174885342,0,0,4.83957174885342,0,0);
  position: absolute;
  width: 200;
  left: 414.686px;
  top: 265.318px;
  z-index: 12;
}

.connect {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(134, 218, 253);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: -20px;
  top:634.4px;
  width: 200;
  z-index: 13;
  padding: 0%;
  border: 0cap;
  margin: 0%;
}

.insta {
  position: absolute;
  left: 30px;
  top: 670px;
  width: 40px;
  height: 40px;
  z-index: 14;
}
.insta:hover {

  transform: scale(1.035);
  transition-duration: 0.5s;
  
}

.git {
   position: absolute;
  left: 91px;
  top: 670px;
  width: 43px;
  height: 41px;
  z-index: 15;
}
.git:hover {

  transform: scale(1.035);
  transition-duration: 0.5s;
  
}